<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1>hello</h1>-->
<form method="post" action="{% url 'save_ser' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Adding Services</h4>
        <p class="card-description">
          SERVICE DETAILS
        </p>
        
        <div class="form-group">
          <label for="exampleInputName1">Service Name</label>
          <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" required>
        </div>

        <div class="form-group">
          <label>Description</label><br>
          <textarea class="form-control" placeholder="Description" name="description" required></textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputPrice">Price (₹)</label>
          <input type="number" step="0.01" class="form-control" id="exampleInputPrice" placeholder="Enter Price" name="price" required>
        </div>

        <div class="form-group">
          <label>File Upload</label>
          <input type="file" class="form-control" name="image" required>
        </div>

        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button type="reset" class="btn btn-light">Cancel</button>
      </div>
    </div>
  </div>
</form>





<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



</body>
</html>
{% endblock %}